<div class="footer">
  <p>Natalia Strzelczyk Fotografia</p>
  <div class="div">
    <a type="button" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" >portfolio</a>
    <a type="button" routerLink="/page/about-me" routerLinkActive="active" ariaCurrentWhenActive="page" >about me</a>
    <a type="button" routerLink="/edit/" routerLinkActive="active" ariaCurrentWhenActive="page">edit</a>

  </div>
  <a href="https://www.instagram.com/natalia.strzelczyk_/"><img src="./../../assets/icons/styles.png" alt=""></a>
</div>
