<app-header></app-header>

<div class="container" (scroll)="onScroll()">
  <div class="column">
    <div class="photo" *ngFor="let photo of result_1">
      <img alt="{{photo.uuid}}" src="{{readFile(photo.photo)}}">
    </div>
  </div>
  <div class="column">
    <div class="photo" *ngFor="let photo of result_2">
      <img alt="{{photo.uuid}}" src="{{readFile(photo.photo)}}">
    </div>
  </div>
  <div class="column">
    <div class="photo" *ngFor="let photo of result_3">
      <img alt="{{photo.uuid}}" src="{{readFile(photo.photo)}}">
    </div>
  </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
