<app-header></app-header>

<div class="preview">
    <div class="file-row" *ngFor="let row of files">
        <div class="file" *ngFor="let fileRow of row.files" [class.three-column]="row.styleColumn === 2"
             [class.two-column]="row.styleColumn === 1" [class.one-column]="row.styleColumn === 0">
            <img alt="{{fileRow.uuid}}" [style.max-width.px]="getFileWidth(row.files.length)" class="element"
                 [class.full-height]="fileRow.styleSize === 1 && row.files.length === 1"
                 [class.full-width]="fileRow.styleSize === 0 && row.files.length === 1"
                 [src]="fileRow.file">
        </div>
    </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
