.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
    grid-auto-flow: dense;
    column-gap: 5px;
    align-content: center;
    justify-items: stretch;
    justify-content: center;
}

.details {
    position: absolute;
    margin-left: auto;
    z-index: 1000;
    padding: 30px 15px 15px 15px;
    width: 25px;
    transform: rotate(90deg);
    background: url(/assets/icons/three-dots.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.options {
    position: absolute;
    margin-left: auto;
    z-index: 1000;
    transform: rotate(-90deg);
    padding: 15px 15px 15px 15px;;
    border: 1px solid;
    border-radius: 5px;
    background: rgba(240, 248, 255, 0.3);
}

.options .option {
    border: 1px solid;
    border-radius: 5px;

    padding: 10px 53px 10px 10px;
    background: rgba(240, 248, 255, 0.9);
}

.column {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
}

.photo {
    margin: 0;
    padding: 0;
}

.photo img {
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-file-label {
    background: rgba(186, 189, 189, 0.76);

}

