<div class="profile">
    <div class="logout" *ngIf="isLogged">
        <span (click)="loggout()">Wyloguj sie</span>
    </div>
</div>
<div class="header">

    <div class="title">
        <h1>natalia strzelczyk </h1>
    </div>
    <div class="menu">
        <span *ngFor="let item of menu" routerLink="{{item.routingLink}}" routerLinkActive="active"
              ariaCurrentWhenActive="page"
              [className]="isActivePage(item.routingLink)">
            {{item.title | titlecase}}</span>
    </div>
    <div class="socials">
        <a href="https://www.instagram.com/natalia.strzelczyk_/"><img src="./../../assets/icons/styles.png" alt=""></a>
    </div>
</div>
