form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Styles for form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.main-label {
    display: flex;
    justify-content: center;
}

/* Styles for form input fields */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styles for the submit button */
input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 80%;
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: #45a049;
}

