.container{
       display: flex;
    flex-direction: column;
    height: 5vh;
    align-items: center;
}

.socials{
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.socials a img{
    width: 18px;
}
