<form (ngSubmit)="doLogin()">
    <div class="form-control-group">
        <label for="login" required>Login</label>
        <input type="text"
               id="login"
               name="login"
               [(ngModel)]="login"
               (focus)="loginFocus = true"
               nbInput
               fullWidth
               placeholder="Wpisz login">
        <p class="caption status-danger" *ngIf="login === '' && loginFocus">
            <span>Błędny login</span>
        </p>
    </div>

    <div class="form-control-group">
        <label for="password" required>Hasło</label>
        <input type="password"
               id="password"
               name="password"
               [(ngModel)]="password"
               (focus)="passwordFocus = true"
               nbInput
               fullWidth
               placeholder="Wpisz hasło">
        <p class="caption status-danger" *ngIf="password === '' && passwordFocus">
            <span>Hasło jest wymagane</span>
        </p>
    </div>

    <br/>
    <button [disabled]="!isValid" (click)="doLogin()" nbButton fullWidth type="submit" status="success"
            class="home-button">
        Zaloguj
    </button>
</form>